<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
	  <MSDeployPublishMethod>InProc</MSDeployPublishMethod>
    <LaunchASiteUrlAfterPublish>False</LaunchASiteUrlAfterPublish>
	  <MsDeployServiceUrl>http://127.0.0.1:12345</MsDeployServiceUrl>
    <SiteUrlToLaunchAfterPublish />

    <DeployIisAppPath>msdeploypackagepublish.testtarget</DeployIisAppPath>
    <UseIISExpress>true</UseIISExpress>
    
    <AllowUntrustedCertificate>False</AllowUntrustedCertificate>
    <SkipExtraFilesOnServer>False</SkipExtraFilesOnServer>
    <DeployAsIisApp>False</DeployAsIisApp>    
    <UserName />
  </PropertyGroup>

  <!-- Transforms a semi-colon delimited list of regex's into MsDeploySkipRules items (objectName=filePath, skipAction=Delete) -->
  <ItemGroup>
    <_SkipDeleteFiles Include="$(SkipFileDelete)" Condition="'$(SkipFileDelete)' !=''" />

    <MsDeploySkipRules Include="@(_SkipDeleteFiles)" Condition="'@(_SkipDeleteFiles)' != ''">
      <SkipAction>Delete</SkipAction>
      <ObjectName>filePath</ObjectName>
      <AbsolutePath>%(Identity)</AbsolutePath>
    </MsDeploySkipRules>
  </ItemGroup>
</Project>