<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
	  <MSDeployPublishMethod>InProc</MSDeployPublishMethod>
    <LaunchASiteUrlAfterPublish>False</LaunchASiteUrlAfterPublish>
	  <MsDeployServiceUrl>http://127.0.0.1:12345</MsDeployServiceUrl>
    <SiteUrlToLaunchAfterPublish />

    <DeployIisAppPath>msdeploypackagepublish.testtarget</DeployIisAppPath>
    <UseIISExpress>true</UseIISExpress>
    
    <AllowUntrustedCertificate>False</AllowUntrustedCertificate>
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <DeployAsIisApp>False</DeployAsIisApp>    
    <UserName />
  </PropertyGroup>

</Project>